header {
 background-color: aqua;
}

main {
    background-color: brown;
    width: 70%;
}

aside {
    background-color: blueviolet;
    float: right;
    width: 30%;
}

footer {
    background-color: coral;
    margin: auto;
}   
